{% extends "layout.html" %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="text-center mb-0"><b>Request OTP</b></h4>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" name="username" id="username" class="form-control mb-2" placeholder="Enter your username" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" name="email" id="email" class="form-control mb-3" placeholder="Enter your email" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" name="otp" class="btn btn-success mr-2">Get OTP</button>
                            <a href="{% url 'login_view' %}" class="btn btn-secondary">Go back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
