{% extends 'layout.html' %}
{% load static %}
{% block content %}

<script src="https://js.stripe.com/v3/"></script>

<div class="payment-container">
  <form action="{% url 'payment' %}" method="POST" id="payment-form">
    {% csrf_token %}
    <div class="form-row">
      <label for="card-element" class="form-label">Enter Credit or Debit Card</label>
      <div id="card-element" class="card-element"></div>
      <div id="card-errors" class="card-errors" role="alert"></div>
    </div>
    <input type="number" name="amount" class="amount-input" placeholder="Enter Amount"><br><br>
    <button type="submit" name="submit_payment" class="submit-button" value="submitted">Submit Payment</button>
  </form>

</div>

<script>

  var stripe = Stripe('{{ stripe_pub_key }}');
  var elements = stripe.elements();
  
  var card = elements.create('card');
  card.mount('#card-element');
  card.addEventListener('change', function(event){
    var displayError = document.getElementById('card-errors');
    if(event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = '';
    }
  });

  var form = document.getElementById('payment-form');
  form.addEventListener('submit', function(event){
    event.preventDefault();

    stripe.createToken(card).then(function(result){
      if (result.error){
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
      } else {
        stripeTokenHandler(result.token);
      }
    });
  });

  function stripeTokenHandler(token){
    var form = document.getElementById('payment-form');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type','hidden');
    hiddenInput.setAttribute('name','stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);
    form.submit();
  }
</script>

{% endblock content %}
