{% extends 'layout.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title text-primary text-center mb-4"><strong>Register</strong></h4>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label"><strong>Username: {{ username }}</strong></label>
                        </div>
                        <p>Click on Register and move face for your photo to be captured.</p>
                        <div class="text-center">
                            <button type="submit" name="register" value="registered" class="btn btn-success">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
